/* NavBAr */
.navbar-nav a{
    font-size:18px ;
    
  }
  .body{
    background-color:rgb(243, 243, 229) ;
  }
  
  
  
  
  
  
  .product-container {
    display: inline-flex;
    align-items: center;
    align-self: flex-start;
  }
  
  .padding-container{
    padding-left: 8%;
    padding-right: 7%;
  }
  
  