/* .logo {
  font-family: "Alkatra", cursive;
  padding-left: -5px;
  margin-left: 0;
}

a.shopnow {
  text-decoration: none;
  color: black;
}
.d-flex {
  width: 450px;
}
.container-offers h6 {
  color: black;
}
.container-offers h3 {
  color: black;
  font-weight: bolder;
}
.container-offers {
  background-color: rgb(239, 216, 198);

  opacity: 0.6;
}

footer a,
.btn-1 a {
  text-decoration: none;
  border: 2px solid #010100;
  padding: 15px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}

span {
  position: relative;
  z-index: 3;
}

.btn-1 a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);

  height: calc(100% - 10px);
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}
.products {
  text-decoration: none;
}

.btn-1 a:hover::before {
  transform: scaleY(0);
}

.btn-1 a::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}

.btn-1 a:hover::after {
  transform: scaleX(0);
}

footer {
  text-align: center;
  font-size: 10px;
}

h1.sell-header {
  margin-left: 50%;

  display: block;
}
img.d-block {
  width: 200;
}
.secondslide {
  padding-left: 10%;
}
.thirdslide {
  padding-left: 30px;
}

.product-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.product-list-container {
  max-width: 1200px;
  margin: 0 auto;
}
.product-wrapper {
  display: flex;
  justify-content: space-between;
}
div.div {
  display: flex;
}
a.navbar-brand {
  padding-left: 0px;
  height: 10vh;
}
.category-align {
  padding-left: 50%;
}
.app-logo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-left: 3vw;
  margin-top: 1vh;
}
.icon {
  width: 200px;
  margin-left: -4vw;
  margin-top: 1vh;
}
.topic {
  margin-left: 50%;
} */
.App{
  background-color: beige;
}
